* {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

#header .logo {
  display: flex;
  align-items: center;
}

#header .menu {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  text-transform: uppercase;
  padding: 15px;
  color: #727272;
  font-size: 14px;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: #fff;
}

/* body */

#banner {
  display: flex;
  justify-content: center;
  background-image: url(../jpg/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
}

#banner .container-column {
  display: flex;
  justify-content: space-between;
  width: 990px;
  flex-direction: column;
}

#banner .banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-headline .banner-head-title {
  color: #fff;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555;
  max-width: 350px;
}

#banner .banner-headline .banner-head-desc {
  color: #fff;
  font-size: 20px;
  text-shadow: 0px 1px 0px #555;
  max-width: 350px;
  margin-top: 30px;
  line-height: 30px;
}

#banner .banner-options {
  height: 210px;
  display: flex;
}

.options1,
.options2,
.options3 {
  flex: 1;
  color: #fff;
  padding: 25px;
}

.options1,
.fm-1 {
  background-color: #39aae1;
}

.options2,
.fm-2 {
  background-color: #0079c7;
}

.options3,
.fm-3 {
  background-color: #2b4c99;
}

#banner .options-headline .options-head-tittle {
  font-size: 20px;
}

#banner .options-description .options-desc {
  font-size: 12px;
  margin: 20px 0;
  line-height: 18px;
}

.options-description-hours {
  font-size: 12px;
  margin-top: 10px;
}

.options-description-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.options3 .line {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#banner .banner-options .banner-btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: 12px;
}

#banner .banner-options .banner-btn:hover {
  background-color: #fff;
  color: #39aae1;
  font-size: 12px;
  transition: 1s;
}

#content {
  display: flex;
  justify-content: center;
}

#content .content-news {
  flex: 2;
}

#content .content-sidebar {
  flex: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#content .widget .widget-tittle,
#footer .widget .widget-tittle {
  margin: 30px 0 20px 0;
}

#content .widget .widget-tittle .widget-tittle-text {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

#content .widget .widget-tittle-bar,
#footer .widget .widget-tittle-bar {
  width: 50px;
  height: 2px;
  background-color: #39aae1;
  margin-top: 10px;
}

#content article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

#content article .news-data {
  display: flex;
}

#content article .news-posted-at {
  color: #fff;
  background-color: #2b4c99;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

#content article .news-comments {
  color: #fff;
  background-color: #39aae1;
  font-size: 12px;
  padding: 10px;
}

#content article .news-thumbnail {
  margin-top: 30px;
}

#content article .news-thumbnail img {
  width: 100%;
  height: auto;
}

#content article .news-tittle {
  margin: 25px 0;
  color: #000;
  font-size: 22px;
}

#content article .news-sumary,
#content .content-sidebar .widget-body .widget-body-text {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 20px;
  margin-bottom: 30px;
}

#content .content-sidebar .widget .widget-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#content .content-sidebar .widget .widget-body .square {
  background-color: #39aae1;
  width: 145px;
  height: 145px;
  margin-bottom: 20px;
}

#content .content-sidebar .widget-body .contacts .line-bar {
  border: 1px solid rgba(124, 124, 124, 0.2);
  width: 330px;
}

#content .content-sidebar .widget-body .contacts .contacts-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#content .content-sidebar .icon-phone,
.icon-email,
.icon-list {
  margin-right: 20px;
  background-color: rgba(124, 124, 124, 0.5);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#content .content-sidebar .icon-phone i,
.icon-email i,
.icon-list i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

#content .content-sidebar .text-phone,
.text-email,
.text-list {
  font-size: 14px;
  color: #5c5c5c;
}

#content .content-sidebar span {
  color: #1e1e1e;
  font-weight: 600;
}

#content .content-sidebar u {
  color: #2b4c99;
  font-weight: 600;
}

#footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.footer-menu {
  display: flex;
}

.fm-1,
.fm-2,
.fm-3 {
  flex: 1;
  color: #fff;
}

.footer-menu a {
  color: #fff;
  padding: 20px;
}

#footer .footer-menu a .fm-1-tittle,
.fm-2-tittle,
.fm-3-tittle {
  font-size: 24px;
}

#footer .footer-menu .fm-1-description,
.fm-2-description,
.fm-3-description {
  font-size: 14px;
  margin: 20px 0;
}

.footer-area {
  display: flex;
}

.footer-area-item {
  color: #fff;
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

#footer .footer-area-item .widget-tittle-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.footer-area-item .widget-body {
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
  font-weight: 500;
  padding-right: 20px;
}

.footer-area-item .widget-body .contact-area {
  display: flex;
  margin-top: 20px;
}

.footer-area-item .widget-body .contact-area .info {
  margin-right: 60px;
}

.footer-area-item .widget-body .contact-area .contact a {
  color: #fff;
}

.footer-area-item .midias {
  margin-top: 20px;
  display: flex;
}

.footer-area-item .midias a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-area-item .midias a {
  background-color: #2c2c2c;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  color: #5c5c5c;
}

.footer-area-item .midias a:hover {
  background-color: #39aae1;
  color: #fff;
  transition: 1s;
}

.footer-area-item .widget-body .news-list {
  display: flex;
  color: #fff;
  margin-bottom: 20px;
}

.footer-area-item .widget-body .news-date {
  color: #39aae1;
  font-weight: bold;
}

.footer-area-item .arrow {
  margin-right: 5px;
  font-size: 10px;
  color: #fff;
}

.footer-area-item .tweets-list {
  display: flex;
  margin-bottom: 20px;
}

.footer-area-item .widget-body .tweets-date {
  color: #39aae1;
  font-weight: bold;
}

.footer-copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}

.menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin: 40px 0px 40px 0;
}

.menu-mobile-line {
  height: 3px;
  background-color: #39aae1;
}

/* Responsividade */

/* telas pequenas 992px até 1198px */

@media (max-width: 1199px) {
  .container,
  #banner .container-column {
    width: 920px;
  }

  #header {
    height: 108px;
  }

  #header .logo img {
    max-width: 182px;
  }

  #header .menu nav {
    display: block;
  }

  #header .menu nav a {
    font-size: 12px;
  }

  #banner .banner-headline .banner-head-title {
    font-size: 63px;
    max-width: 315px;
  }

  #banner .banner-headline .banner-head-desc {
    font-size: 18px;
    max-width: 315px;
    margin-top: 27px;
    line-height: 27px;
  }
}

/* tablets de 768px até 991px */
@media (max-width: 991px) {
  .container,
  #banner .container-column {
    width: 730px;
  }

  #header {
    height: auto;
  }

  #header .logo img {
    max-width: 146px;
  }

  #header .menu ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  nav a {
    display: block;
    text-align: right;
    padding-right: 22px;
  }

  #header .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #banner {
    height: 536px;
  }

  #banner .banner-options {
    height: auto;
  }

  #banner .banner-headline .banner-head-title {
    font-size: 50px;
    max-width: 252px;
  }

  #banner .banner-headline .banner-head-desc {
    font-size: 14px;
    max-width: 252px;
    margin-top: 22px;
    line-height: 21px;
  }

  #banner .options1,
  .options2,
  .options3 {
    padding: 20px;
  }

  #banner .options-headline .options-head-tittle {
    font-size: 16px;
  }

  #banner .options-description .options-desc {
    font-size: 12px;
    margin: 16px 0;
    line-height: 18px;
  }

  .flex-direction {
    flex-direction: column;
  }

  #content .content-sidebar .widget .widget-body .square {
    width: 116px;
    height: 116px;
  }

  #content .content-sidebar .widget .widget-body .contacts {
    padding-bottom: 50px;
  }

  #footer .footer-menu a {
    padding: 16px;
  }

  #footer .footer-menu a .fm-1-tittle,
  .fm-2-tittle,
  .fm-3-tittle {
    font-size: 18px;
  }

  #footer .footer-menu .fm-1-description,
  .fm-2-description,
  .fm-3-description {
    font-size: 12px;
    margin: 16px 0;
  }

  #footer .footer-area {
    flex-direction: column;
  }

  #footer .footer-area .footer-area-item .widget-body {
    display: flex;
    padding: 0;
  }

  #footer .footer-copy {
    text-align: center;
  }
}

/* celulares de 375px até 767px */
@media (max-width: 767px) {
  .container,
  #banner .container-column {
    width: 335px;
  }

  #header .logo img {
    max-width: 116px;
  }

  .menu-mobile {
    width: 32px;
    height: 32px;
    margin: 32px 0px 32px 0;
  }
  .menu-mobile-line {
    height: 2px;
  }

  #banner {
    height: auto;
    padding-top: 30px;
  }
  #banner .banner-headline .banner-head-title {
    font-size: 40px;
    max-width: 202px;
  }

  #banner .banner-headline .banner-head-desc {
    font-size: 14px;
    max-width: 202px;
    margin: 18px 0 30px 0;
    line-height: 21px;
  }

  #banner .banner-options {
    flex-direction: column;
  }

  #banner .options1,
  .options2,
  .options3 {
    padding: 16px;
  }

  #banner .options-headline .options-head-tittle {
    font-size: 16px;
  }

  #banner .options-description-flex {
    padding: 6px 0;
  }

  #content .widget .widget-tittle,
  #footer .widget .widget-tittle {
    margin: 24px 0 16px 0;
  }
  #content .widget .widget-tittle .widget-tittle-text {
    font-size: 16px;
  }

  #content .widget-tittle-bar,
  #footer .widget .widget-tittle-bar {
    width: 40px;
    height: 1px;
    margin-top: 8px;
  }

  #content article .news-posted-at,
  #content article .news-comments {
    font-size: 10px;
    padding: 8px;
    margin-right: 1px;
  }

  #content article .news-tittle {
    margin: 20px 0;
    font-size: 18px;
  }

  #content article .news-sumary,
  #content .content-sidebar .widget-body .widget-body-text {
    margin-bottom: 24px;
  }

  #content .content-sidebar .widget .widget-body .square {
    width: 93px;
    height: 93px;
  }

  #content .content-sidebar .icon-phone,
  .icon-email,
  .icon-list {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  #content .content-sidebar .icon-phone i,
  .icon-email i,
  .icon-list i {
    font-size: 15px;
  }

  #content .content-sidebar .text-phone,
  .text-email,
  .text-list {
    font-size: 12px;
  }

  #footer .footer-menu {
    flex-direction: column;
  }

  #footer .footer-menu a .fm-1-tittle,
  .fm-2-tittle,
  .fm-3-tittle {
    font-size: 16px;
  }

  #footer .footer-menu .fm-1-description,
  .fm-2-description,
  .fm-3-description {
    margin: 12px 0;
  }

  #footer .footer-area-item .widget-tittle-text {
    font-size: 16px;
  }

  #footer .footer-area .footer-area-item .widget-body {
    display: block;
  }

  #footer-area-item .midias {
    margin-top: 16px;
  }

  .footer-area-item .midias a {
    background-color: #2c2c2c;
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
}
